{% extends "base.html" %}
{% load i18n %}
{% block pretitle %}Organization View{% endblock %}
{% block extra_head %}{% endblock %}

{% block pagename %}My Organization{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'accounts:manage_account' %}">Dashboard</a></li>

            <li class="active">My Organization</li>

        </ul>
    </div>

{% endblock %}
{% block content %}

    <div class="container col-lg-12 well">

        {% for organization in object_list %}
            <h2>
                {{ organization.name }}  <a href="{% url "appmgmt:organization_update" pk=organization.id %}"
                   class="btn btn-success">
                    <i class="fa fa-pencil-square-o fa-1x"></i> {% trans 'Edit' %}</a>
            </h2>
            <li>Owner: {{ request.user }}</li>
            <li>Domain: {{ organization.domain }}</li>
            <li>Trusted:
                {% if organization.trusted %}YES
                {% else %}no
                {% endif %}</li>
            {% if organization.trusted %}
                <li>Trusted Until: {%  if organization.trusted_until %}
                    {{ organization.trusted_until }}{% endif %}</li>
            {% endif %}

            <li>Developer: {{ organization.developers }}</li>

            {% for developer in organization.developers.all %}
                {% for user in developer %}email:{{ user.email }} {% endfor %}
            {% endfor %}
            <div class="col-lg-12">
                {% if organization.trusted %}
                    <a href="{% url "appmgmt:application_view" %}"
                    class="btn btn-success col-lg-12 align-right">
                    <i class="fa fa-pencil-square-o fa-1x"></i> My Applications</a>

                {% else %}
                    <a href="{% url "appmgmt:trustdata" %}"
                    class="btn btn-success col-lg-12 align-right">
                    <i class="fa fa-shield fa-1x"></i> Confirm Trusted Application</a>

                {% endif %}
            </div>
        {%  endfor %}

    </div>

{% endblock %}
